<form class="new-comment-form formCont d-flex flex-column align-items-center" data-blogid="{{id}}">
    <div class="w-100 p-2">
        <textarea class="form-control shadow-sm rounded-lg" id='comment' name="comment-body" placeholder="Enter your comment..." cols="30" rows="3"></textarea>
    </div>
    <div class="w-100 p-2 text-right">
        <button class="btn btn-primary btn-lg shadow-sm" type="submit" id="newCommentBtn">Add Comment</button>
    </div>
</form>
